 .parent{
  margin-top: 150px;
 }

.App {
  margin: auto;
  text-align: center;
  /* width: 700px;
  height: 200px; */
  background-image: linear-gradient(rgb(255, 255, 255),rgb(109,39,239));
   border: solid ;
  border-color: red; 
  
}

.text{
  width:600px;
  height:100px;
}

.result{
  margin: auto;
  width:600px;
  height:100px;
  background-color:white;
  border: solid ;
  border-color: yellow; 
}

